.main{
  /* background-color: rgb(255, 249, 199); */
  display: flex;
  /* flex-direction: column; */
  /* align-items: center; */
  justify-content: space-around;
}

.form{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  border:1px solid black;
  width: 500px;
  padding: 10px 0px 10px 0px;
  /* margin: 0 500px 0 500px; */
}

.form-title{
  font-size: 30px;
  border-bottom: 2px solid gray;
  text-align: center;
  /* display: inline; */
  /* margin: 40px 40px 0 40px; */
}

.form-item{
  display: flex;
  font-size: 18px;
  margin: 20px 0 0 0;
}

.form-need{
  background-color: red;
  color: white;
  margin-left: 6px;
  border-radius: 4px;
}
textarea{
  overflow: auto;
  /* box-sizing: initial; */
  box-sizing: content-box;
  caret-color: black; /* カーソルの色を指定 */
}

.form-input-button{
  font-size: large;
  font-weight: bolder;
  margin: 30px 0 0 0;
  background-color: orange;
  height: 50px;
  transition: 0.2s;
  width: 120px;
  border: 4px outset rgb(249, 220, 168);
}

.login_button button:hover,
.send_button button:hover{
  background-color: deepskyblue;
  color: white;
  border: 4px outset rgb(158, 231, 255);
}

/* ボタンをクリックするとボタンが凹む表現 */
.login_button button:active,
.send_button button:active{
  background-color: deepskyblue;
  color: white;
  border: 4px inset rgb(158, 231, 255);
}

/* 新規登録とパスワードを忘れた方画面へのリンクについて */
/* 通常は下線を表示せず、文字は黒 */
.signup_link a,
.forget_password a {
  text-decoration: none;
  color: black;
}

/* 新規登録とパスワードを忘れた方画面へのリンクについて */
/* マウスカーソルを重ねると下線を表示 */
.signup_link a:hover,
.forget_password a:hover {
  text-decoration: underline;
}