body{
  background: rgb(255, 249, 199);
  /* width: 1000px; */
  height: 1000px;
  margin: 0 auto;
}

.title{
  display: flex;
  justify-content: space-around;
}

.title1{
  padding: 10px 0;
  font-size: 50px;
  font-weight: bold;
}

.anchor{
  text-decoration: none;
}
  
.anchor:hover{
  text-decoration: underline;
}

.anchor{
  font-size: 25px;
  font-weight: bold;
  letter-spacing: 2.5px;
}

.title2{
  margin-top: 40px;
}