body{
  background: rgb(255, 249, 199);
  width: 1000px;
  height: 900px;
  margin: 0 auto;
}

.title{
  display: flex;
  justify-content: space-around;
}

.title1{
  padding: 10px 0;
  font-size: 50px;
  font-weight: bold;
}

a{
  text-decoration: none;
}

.title2{
  margin-top: 50px;
}