::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background: #ddd;
  box-shadow:0 0 8px #bbb inset ;
}

::-webkit-scrollbar-thumb {
  background: #8fffd4;
  border-radius: 50px;
}

.columns{
  display: flex;
  text-align: center;
  margin-left: 0rem;
  margin-right: 0rem;
}

.title{
  padding-left: 50px;
  letter-spacing: 0.2rem;
}

.table{
  margin-left: 50px;
  width: 130%;
}

.button.is-primary{
  margin-top: 25px;
}

.table .td-right{
  border: none;
}

.button.is-danger{
  margin-left: 80px;
}

.input::placeholder{
  color: #000;
}