.all{
  background-color: rgb(255, 249, 199);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form{
  display: flex;
  flex-direction: column;
  background-color: white;
  align-items: center;
  border:1px solid black;
  /* width: 600px */
  padding: 20px 100px 20px 100px;
}

.form-title{
  font-size: 30px;
  border-bottom: 2px solid black;
  /* margin: 40px 40px 0 40px; */
}

.form-item{
  display: flex;
  font-size: 18px;
  margin: 40px 0 0 0;
}

.form-need{
  background-color: red;
  color: white;
  margin-left: 6px;
  border-radius: 4px;
}

.form-input-button{
  margin-top: 30px;
  background-color: orange;
  height: 50px;
}